.cart{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Option{
    color:aliceblue;
    text-decoration: none;
}