.cartWidget{
    display: flex;
    width: 120px;
    margin:10px;
    color:#282c34;
    font-weight: bold;
    text-decoration: none;
}
.carrito{
    width: 60px;
    height: 60px;
    padding: 5px;
}
.numCart{
    color:#282c34;
    font-size:x-large;
    font-weight: 600;
}