.cartWidget{
    display: flex;
    flex-direction: row;
    margin:10px;
}
.carrito{
    width: 100px;
    height: 100px;
    padding: 20px;
}
.numCart{
    color:#282c34;
    font-size:larger;
    font-weight: 500;
    align-self: center;
}