.item{
    margin:10px;
    width: 240px;
    display: flex;
    color:black;
}

.itemInfo{
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
