.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #282c34;
    background-color: #b3b2ae;
}
.nbBtn{
    display: flex;
    flex-direction: row;
}

.logoTaza{
    width: 90px;
    height: 90px;
    margin: 10px;
}
